/*Theme variables (auto light/dark)
Это глобальный контраст темы. Теперь можно менять всю тему одним значением.
*/

:root {

    /* lightness */
    --l1: 0.94;
    --l2: 0.86;
    --l3: 0.76;
    --l4: 0.64;

    /* chroma */
    --c1: 0.12;
    --c2: 0.20;
    --c3: 0.28;

}

.dark {

    --l1: 0.72;
    --l2: 0.64;
    --l3: 0.56;
    --l4: 0.48;

    --c1: 0.10;
    --c2: 0.16;
    --c3: 0.22;

}